.comment-form {
	margin-top: 10px;
	align-content: center;
}

.comment-box {
	align-content: center;
	width: 500px;
	height: 50px;
}

.Comments-item {
	background-color: white;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
