.Sidebar {
	grid-area: sidebar;
	justify-content: flex;
	align-items: top;
	/* grid-template: 1fr 1fr 1fr 1fr; */
	border-right-width: 6px;
	border-right-style: groove;
	border-right-color: green;
	background-color: lightseagreen;
}

.SideBar-items {
	background-color: aliceblue;
}

.sidebar-text {
	width: 80%;
	height: 60px;
	display: flex;
	flex-wrap: auto;
}
.topic-table {
	width: 100%;
	display: flex;
	flex-wrap: auto;
	align-self: center;
}
.table-row-header {
	text-align: center;
	justify-content: center;
	align-content: center;
	font-weight: bold;
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	width: 100%;
}
.table-row {
	text-align: center;
	justify-content: center;
	align-content: center;
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	width: 100%;
}

.table-row:hover {
	background-color: gray;
}

.border {
	border-bottom-style: double;
	border-bottom-width: 1px;
}

.write-article-link {
	font-size: 20px;
	display: flex;
}

.welcome-notice {
	justify-content: center;
	display: flex;
	flex-wrap: auto;
	width: 50%;
	margin-bottom: 10px;
}

/* tr:nth-child(even) {
	background-color: #dddddd;
} */
