.Topic-Link {
	color: rgb(106, 132, 99);
	display: flex;
	flex-wrap: wrap;
	font-size: 30px;
	width: 80%;
	transition: 1s;
	border-radius: 10px;
	margin-bottom: 20px;
}

/* the :hover that causes the background-color to change */
.Topic-Link:hover {
	background-color: rgb(191, 209, 186);
	border-radius: 10px;
	width: 100%;
}
