.write-article {
	display: grid;

	justify-content: center;
	align-content: center;
	align-items: center;
	overflow-y: auto;
	overflow: scroll;
}

.article-form {
	align-content: center;
}

.topic-selector {
	width: 400px;
}
